{% extends "base.html" %}
{% block titulo %}
Inicio
{% endblock %}

{% block contenido %}
<section>
<img id="img" src="/static/img/banner.png" alt="banner">

<h1 class="titulo1">Bienvenidos!</h1>
<h2>Soy Rocio Andrada</h2>
<h3>Tengo 27 años, soy mamá de tres niñxs y estudiante autodidacta de desarrollo web. Me involucre por primera vez en el mundo de programación en el año 2022 con el programa de "Jóvenes a programar" de Ceibal, en el cual hice desarrollo web y desde entonces he tomado cursos para así conseguir un empleo en el mundo laboral TI.</h3>
<span id="botonIngresar"><a href="/iniciar_sesion"><b>Ingresar</b></a></span>
</section>
{% endblock %}