{% extends "base.html" %} {% block titulo %} Inicio {% endblock %} {% block
contenido %} 
<section> 
  <nav class="navHome">
    <span><a href="/"><b>Home</b></a></span>
  </nav>
  {% if mensaje %}
<div class="mensaje">
  <p style="color: red">{{ mensaje }}</p>
</div>
{% endif %}

<form
  action="{{url_for('login')}}"
  method="POST"
  class="form-control"
  id="formulario"
>
  <label for="nickname">Usuario</label><br />
  <input
    type="text"
    id="nickname"
    name="nickname"
    placeholder="Ingrese su usuario"
  /><br />
  <label for="password">Contraseña</label><br />
  <input
    type="password"
    name="password"
    placeholder="Ingrese su contraseña"
  /><br />
  <input
    type="submit"
    name="Iniciar"
    class="btn btn-success button"
    value="Iniciar sesión"
  />

  <h3>¿Aún no estas registrado?</h3>
  <span><a href="/registrar">Registrarme</a></span>
</form>
</section>

{% endblock %}
